body {
    font-family: sans-serif;
    margin: 0;
    padding: 1rem;
    max-width: 800px;
}

.input {
    display: inline-flex;
    flex-flow: column;
    max-width: 10rem;
    margin: .5rem;

}

input, select {
    display: inline-block;
    box-sizing: border-box;
    font-size: 1rem;
    height: 2rem;
    padding: .25rem;
}

.btn-primary {
    margin: .5rem;
    font-size: 1rem;
    height: 2rem;
    padding: .25rem;
}

.btn {
    font-size: 1rem;
    height: 2rem;
    padding: .25rem;
}

.inline {
    display: inline;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

output {
    animation: fadeIn 1s;
}

.output {
    display: block;
    margin: .5rem;
    min-height: 1.25rem;
}

form {
    border: .25rem outset;
    border-radius: .5rem;
    padding: .5rem;;
}

footer {
    position: absolute;
    bottom: 0;
}

dialog {
    padding: 1rem;
    border: .25rem outset;
    border-radius: .5rem;
}